# dependencies
/node_modules/

# next.js
/.next/
/out/

# testing
/coverage/

# environment variables
.env*
!.env.example

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/src/generated/prisma/

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*