@import "tailwindcss";

html {
    font-size: 100%;
}

body {
    background: linear-gradient(var(--color-slate-100), var(--color-slate-200));
    color: var(--color-slate-800);
    font-family: var(--font-inter), var(--font-noto-sans-jp), system-ui, sans-serif;
    letter-spacing: 0.05em;
    min-height: 100vh;
}

button {
    cursor: pointer;
}