@import "tailwindcss";

@theme {
    --animate-bounce: bounce 1s infinite;
    --color-google-login: #131314;

    @keyframes bounce {
        0%, 100% {
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            transform: translateY(-12.5%);
        }

        50% {
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            transform: translateY(12.5%);
        }
    }
}

@layer base {
    body {
        background: linear-gradient(var(--color-slate-100), var(--color-slate-200));
        color: var(--color-slate-800);
        font-family: var(--font-inter), var(--font-noto-sans-jp), system-ui, sans-serif;
        letter-spacing: 0.05em;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}